<h3>Create new {{params.type}}</h3>
<div
  *ngIf="msg!=''"
  class="alert"
  [ngClass]="msg=='ok'?'alert-ok':'alert-error'"
>
  {{msg=='ok'?'form submitted successfully':'error:'+msg}}
</div>
<form
  #formElement="ngForm"
  [formGroup]="form"
  method="post"
  enctype="multipart/form-data"
>
  <mat-form-field appearance="legacy">
    <mat-label for="title">Title</mat-label>
    <input matInput placeholder="title" formControlName="title" />
    <mat-hint align="end"
      ><span class="hint">no more than 70 chatacters</span></mat-hint
    >
    <mat-error *ngIf="!isValid('title')"
      >{{ getErrorMessage("title") }}</mat-error
    >
  </mat-form-field>

  <mat-form-field appearance="legacy">
    <mat-label for="subtitle">Subtitle</mat-label>
    <input matInput placeholder="subtitle" formControlName="subtitle" />
  </mat-form-field>

  <mat-form-field appearance="legacy">
    <mat-label for="content">Content</mat-label>
    <textarea
      formControlName="content"
      matInput
      cdkTextareaAutosize
      #autosize="cdkTextareaAutosize"
      cdkAutosizeMinRows="5"
      placeholder="content..."
    ></textarea>
  </mat-form-field>

  <mat-form-field appearance="legacy">
    <mat-label for="keywords">Keywords</mat-label>
    <input matInput placeholder="keywords" formControlName="keywords" />
  </mat-form-field>

  <h4>Cover image</h4>
  <input
    type="file"
    #file
    formControlName="cover"
    style="display: none"
    (change)="onFilesAdded()"
    multiple
    name="cover"
  />
  <button
    type="button"
    [disabled]="uploading || uploadSuccessful"
    mat-raised-button
    color="primary"
    (click)="addFiles()"
  >
    Add Files
  </button>
  <mat-list>
    <mat-list-item *ngFor="let file of files">
      <h4 mat-line>{{file.name}}</h4>
      <!-- todo: add cancel btn -->
    </mat-list-item>
    <mat-progress-bar
      *ngIf="uploadedFiles"
      mode="determinate"
      [value]="uploadedFiles.progress | async"
    ></mat-progress-bar>
  </mat-list>

  <hr />

  <!--
  using (ngSubmit)="onSubmit(..)" causes the form to show errors after submitting
  so we replaced it with (click)="onSubmit(..)", and  type="submit" with type="button"
  https://stackoverflow.com/a/51003685/12577650 -->
  <button
    mat-raised-button
    color="primary"
    type="button"
    [disabled]="!form.valid || form.prestine"
    (click)="onSubmit(form.value)"
  >
    Submit
  </button>
</form>
<hr />

{{ data | async | json }}
