<h3 *ngIf="params?.type">Create new {{params?.type}}</h3>
<div
  *ngIf="response"
  class="alert"
  [ngClass]="response.ok==true?'alert-ok':'alert-error'"
>
  <ng-container *ngIf="response.ok==true; else error"></ng-container>
  form submitted successfully<br />
  <a href="/{{params.type}}/{{response.data._id}}-{{response.data | slug}}"
    >{{response.data.title}}</a
  >
</div>
<ng-template #error>Error: {{response.msg}}</ng-template>

<ng-container *ngIf="articleForm; else loading">
  <form
    [formGroup]="articleForm.form"
    #formElement="ngForm"
    method="post"
    enctype="multipart/form-data"
  >
    <formly-form
      [form]="articleForm.form"
      [fields]="articleForm.fields"
      [model]="articleForm.model"
    ></formly-form>

    <!--
  using (ngSubmit)="onSubmit(..)" causes the form to show errors after submitting
  so we replaced it with (click)="onSubmit(..)", and  type="submit" with type="button"
  https://stackoverflow.com/a/51003685/12577650 -->
    <button
      mat-raised-button
      color="primary"
      type="button"
      [disabled]="!articleForm.form.valid || articleForm.form.prestine"
      (click)="onSubmit(articleForm.form.value)"
    >
      Submit
    </button>
  </form>
</ng-container>

<ng-template #loading>Loading ......</ng-template>

<!-- material design form-field example:
<mat-form-field appearance="legacy">
  <mat-label for="title">Title</mat-label>
  <input matInput placeholder="title" formControlName="title" />
  <mat-hint align="end"
    ><span class="hint">no more than 70 chatacters</span></mat-hint
  >
  <mat-error *ngIf="!isValid('title')"
    >{{ getErrorMessage("title") }}</mat-error
  >
</mat-form-field>


  <mat-form-field appearance="legacy">
    <mat-label for="content">Content</mat-label>
    <textarea
      formControlName="content"
      matInput
      cdkTextareaAutosize
      #autosize="cdkTextareaAutosize"
      cdkAutosizeMinRows="5"
      placeholder="content..."
    ></textarea>
  </mat-form-field>


  <h4>Cover image</h4>
  <input
    type="file"
    #file
    formControlName="cover"
    style="display: none"
    (change)="onFilesAdded()"
    multiple
    name="cover"
  />
  <button
    type="button"
    [disabled]="uploading || uploadSuccessful"
    mat-raised-button
    color="primary"
    (click)="addFiles()"
  >
    Add Files
  </button>

-->
