<!--
todo: *ngIf="data$ | async as data && data.payload && data.payload.length>0; else noContent"
https://stackoverflow.com/questions/59432362/angular-ngif-data-async-as-data-data-payload-else-nocontent
 -->
<ng-container *ngIf="data; else loading">
  <ng-container
    *ngIf="(data.type=='item' && data.payload) || (data.type=='list' && data.payload?.length>0); else noContent"
  >
    <!-- data.payload:[]|{}, so in case of type=='item' don't use data.payload?.length>0 -->

    <ng-container
      *ngTemplateOutlet="!data.payload?noContent:data.type=='item'?itemBlock:layout=='grid'?gridBlock:listBlock; context:{data:data}"
    ></ng-container>
  </ng-container>
</ng-container>

<ng-template let-item="data.payload" #itemBlock>
  <mat-card>
    <mat-card-header>
      <div mat-card-avatar><img src="assets/avatar-female.png" /></div>
      <mat-card-title dir="auto">
        <a
          href="{{params.type}}/{{item.id}}-{{item.slug?item.slug:item.title | slug }}"
          >{{item.title}}</a
        ></mat-card-title
      >
      <mat-card-subtitle dir="auto">{{item.subtitle}}</mat-card-subtitle>
    </mat-card-header>
    <img
      mat-card-image
      *ngIf="item.cover && item.cover!='' && item.cover!='null'"
      src="/data/uploads/{{params.type}}/{{item.cover}}"
    />

    <mat-card-content
      dir="auto"
      innerHtml="{{item.content | nl2br | keepHtml}}"
    ></mat-card-content>
    <!-- todo: use content[] to add content segments, ex: for jobs we need to add: expiration alert -> content -> contacts -->
    <mat-card-actions>
      <share-buttons show="5"></share-buttons>
    </mat-card-actions>
  </mat-card>
</ng-template>

<ng-template #gridBlock let-data="data.payload">
  <div class="masonry">
    <mat-card class="masonry-item" *ngFor="let item of data">
      <mat-card-header>
        <div mat-card-avatar><img src="assets/avatar-male.png" /></div>
        <mat-card-title dir="auto"
          ><a
            href="{{params.type}}/{{item.id}}-{{item.slug?item.slug:item.title | slug}}"
            >{{item.title}}</a
          ></mat-card-title
        >
        <mat-card-subtitle dir="auto">{{item.subtitle}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="assets/book.png" />
      <mat-card-content
        dir="auto"
        [innerHtml]="item.content | nl2br | keepHtml"
      ></mat-card-content>
      <!-- <mat-card-actions>
        <button mat-flat-button color="primary">
          <mat-icon>like</mat-icon> Like
        </button>
        <button mat-flat-button color="accent">
          <mat-icon>share</mat-icon> SHARE
        </button>
      </mat-card-actions> -->
    </mat-card>
  </div>
</ng-template>

<ng-template #listBlock let-data="data.payload">
  <mat-list>
    <mat-list-item *ngFor="let item of data">
      <h4 mat-line dir="auto">
        <a
          href="{{params.type}}/{{item.id}}-{{item.slug?item.slug:item.title | slug }}"
          >{{item.title}}</a
        >
      </h4>
      <h6 mat-line dir="auto">{{item.subtitle}}</h6>
      <div
        mat-line
        [innerHtml]="item.content | nl2br | keepHtml"
        dir="auto"
      ></div>
      <!-- todo: add cancel btn -->
    </mat-list-item>
  </mat-list>
</ng-template>

<ng-template #noContent dir="auto"
  >No content! <br />
  <a href="/{{params.type}}">Back</a></ng-template
>

<ng-template #loading dir="auto">Loading ....</ng-template>
