
mat-toolbar .logo{
  padding: 0 10px;
  background-color: black;
  border-radius: 7px;
}

mat-toolbar .logo:hover {
  border: solid thin brown;
  color: red;
}



mat-toolbar .logo img:hover{
  opacity: 0.9;
}

mat-toolbar .logo span{
  /*make the text beside the img, but go beneath it @(max-width: 395px)*/
  display: inline-block;
  margin-left: 5px
}


mat-toolbar a{
  text-decoration: none;
  color:white;
  margin: 10px
}

mat-toolbar .spacer {
  flex: .95;
}


@media (max-width: 550px) {
mat-toolbar{
  font-size: smaller;
}

mat-toolbar.logo{
  padding:0 5px;
}
mat-toolbara{
  margin: 5px
}
}


@media (max-width: 304px) {
  mat-toolbar .logo { background-color: unset}
  mat-toolbar .logo span{ display: none}
}
