/*
- quill css already defined in content/view (in pkg/content/view),
  but they also needed for content/editor, because they didn't defined in
   <ngx-form> we have to import them globally (i.e in style.scss)

*/
@import '~quill/dist/quill.core.css';
@import '~quill/dist/quill.snow.css';


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
*{max-width:100%; box-sizing: border-box;}

/* the main container, below the header(toolbar) and above the footer*/
.page{
  padding:10px;

}

a, a:visited, a:hover {
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  color: #125699;
}

/* bootstrap-like alerts */
.alert-error {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}
.alert-ok {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
    text-align: center;
}
.alert a { font-weight: 700; }
